$lightGreen: #a1be95;
$lightYellow: #e2dfa2;
$lightAzure: #b2dbd5;
$lightBlue: #92aac7;
$darkBlue: #2b616d;
$orange: #fa8d62;
$red: #ed5752;
$pink: #fff0eb;
$black: #333333;

$white: #f5f5f5;
$mainBlue: #2c3c5b;

// somewhere in between: #657187 #9FA6B3 #BCC0C9

@mixin box {
  border: 1px solid $mainBlue;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 5px;
}
